<CubicExplorer>
  <QuickView>
    <ImageExts>bmp,ico,wmf,emf,jfif,jpg,jpe,jpeg,rle,dib,win,vst,vda,tga,icb,tiff,tif,fax,eps,pcx,pcc,scr,rpf,rla,sgi,rgba,rgb,bw,psd,pdd,ppm,pgm,pbm,cel,pic,pcd,cut,psp,png,gif</ImageExts>
    <MemoExts>txt,ini,bat,html,htm,pas,css,xml,log,for,php,py</MemoExts>
    <Muted>False</Muted>
    <RememberPanelLayout>False</RememberPanelLayout>
    <RememberInnerToolbarLayout>True</RememberInnerToolbarLayout>
    <RememberOuterToolbarLayout>False</RememberOuterToolbarLayout>
    <VideoExts>avi,wmv,mp4,mpg,mpeg,ogg,ogm,mkv,dvr-ms,mp3,vob,wav,flv</VideoExts>
    <Volume>200</Volume>
  </QuickView>
  <FileView>
    <ArrowBrowse>True</ArrowBrowse>
    <SelectPreviousFolder>True</SelectPreviousFolder>
    <AutoSelectFirstItem>False</AutoSelectFirstItem>
    <AutosizeListViewStyle>False</AutosizeListViewStyle>
    <BrowseZipFolders>False</BrowseZipFolders>
    <CellSizes>
      <LargeIcons_Height>-1</LargeIcons_Height>
      <SmallIcons_Height>-1</SmallIcons_Height>
      <List_Height>-1</List_Height>
      <Details_Height>-1</Details_Height>
      <Tiles_Height>-1</Tiles_Height>
      <Thumbnails_Height>220</Thumbnails_Height>
      <Filmstrip_Height>-1</Filmstrip_Height>
      <LargeIcons_Width>-1</LargeIcons_Width>
      <SmallIcons_Width>-1</SmallIcons_Width>
      <List_Width>-1</List_Width>
      <Details_Width>-1</Details_Width>
      <Tiles_Width>-1</Tiles_Width>
      <Thumbnails_Width>235</Thumbnails_Width>
      <Filmstrip_Width>-1</Filmstrip_Width>
    </CellSizes>
    <CheckBoxSelection>False</CheckBoxSelection>
    <Columns>
      <ControlPanel>0,0,180,0</ControlPanel>
      <Default>0,0,241,1|1,1,152,0|2,2,120,0|3,3,120,0</Default>
      <MyComputer>0,0,180,0</MyComputer>
      <Network>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0</Network>
    </Columns>
    <FileSizeFormat>0</FileSizeFormat>
    <Filmstrip>
      <ThumbPos>2</ThumbPos>
      <ThumbSize>120</ThumbSize>
      <ThumbStyle>7</ThumbStyle>
    </Filmstrip>
    <FolderUpOnDblClick>True</FolderUpOnDblClick>
    <FontSize>-1</FontSize>
    <FullRowDblClick>False</FullRowDblClick>
    <FullRowSelect>False</FullRowSelect>
    <GroupBy>
      <ControlPanel>0,False</ControlPanel>
      <Default>1,False</Default>
      <MyComputer>0,False</MyComputer>
      <Network>0,False</Network>
    </GroupBy>
    <HiddenFiles>False</HiddenFiles>
    <InfoBarSize>96</InfoBarSize>
    <ShowInfoTips>True</ShowInfoTips>
    <RememberPanelLayout>False</RememberPanelLayout>
    <RememberInnerToolbarLayout>True</RememberInnerToolbarLayout>
    <RememberOuterToolbarLayout>False</RememberOuterToolbarLayout>
    <SelectPasted>True</SelectPasted>
    <ShowExtensions>False</ShowExtensions>
    <ShowGridLines>False</ShowGridLines>
    <ShowHeaderAlways>True</ShowHeaderAlways>
    <ShowInfoBar>False</ShowInfoBar>
    <SingleClickBrowse>False</SingleClickBrowse>
    <SingleClickExecute>False</SingleClickExecute>
    <SmoothScroll>False</SmoothScroll>
    <SortAfterPaste>True</SortAfterPaste>
    <SortFolderFirstAlways>False</SortFolderFirstAlways>
    <ThreadedDetails>True</ThreadedDetails>
    <ThreadedEnumeration>True</ThreadedEnumeration>
    <ThreadedImages>True</ThreadedImages>
    <Use_JumboIcons_in_InfoBar>False</Use_JumboIcons_in_InfoBar>
    <ViewStyle>3</ViewStyle>
  </FileView>
  <Sessions>
    <AutoSaveHistory>False</AutoSaveHistory>
    <HistoryCount>10</HistoryCount>
  </Sessions>
  <TextEditor>
    <RememberPanelLayout>False</RememberPanelLayout>
    <RememberInnerToolbarLayout>True</RememberInnerToolbarLayout>
    <RememberOuterToolbarLayout>False</RememberOuterToolbarLayout>
    <WordWrap>False</WordWrap>
  </TextEditor>
  <FileSearch>
    <Columns>0,0,180,0|1,1,96,0|2,2,120,0|3,3,120,0|284,284,250,2</Columns>
    <FontSize>-1</FontSize>
    <LineHeight>-1</LineHeight>
    <RememberPanelLayout>False</RememberPanelLayout>
    <RememberInnerToolbarLayout>True</RememberInnerToolbarLayout>
    <RememberOuterToolbarLayout>False</RememberOuterToolbarLayout>
    <ShowExtensions>True</ShowExtensions>
    <SubFolders>True</SubFolders>
  </FileSearch>
  <Buttons>
    <Tabs_ShowTabControls>True</Tabs_ShowTabControls>
    <UndoDelete_ConfirmRestore>True</UndoDelete_ConfirmRestore>
    <UndoDelete_DayLimit>-1</UndoDelete_DayLimit>
    <UndoDelete_ItemCount>20</UndoDelete_ItemCount>
  </Buttons>
  <MainForm>
    <AlphaBlend>255</AlphaBlend>
    <AlwaysOnTop>False</AlwaysOnTop>
    <AutoCheckUpdates>False</AutoCheckUpdates>
    <Left>46</Left>
    <Top>38</Top>
    <Width>916</Width>
    <Height>669</Height>
    <Language/>
    <PathInTitle>True</PathInTitle>
    <ShowCmd>1</ShowCmd>
    <ShowHint>True</ShowHint>
    <SingleInstance>False</SingleInstance>
    <Skin>Chrome</Skin>
    <AutoLoadSession/>
    <ChangeCurrentDirVar>False</ChangeCurrentDirVar>
    <CheckForUpdateTypes>3</CheckForUpdateTypes>
    <CloseToTray>False</CloseToTray>
    <ExitOnLastTabClose>False</ExitOnLastTabClose>
    <LastUpdateCheck>0</LastUpdateCheck>
    <LockToolbars>False</LockToolbars>
    <MinimizeToTray>True</MinimizeToTray>
    <ProxyAddress>:0</ProxyAddress>
    <ProxyPassword/>
    <ProxyUsername/>
    <ShowTray>False</ShowTray>
    <StartInTray>False</StartInTray>
    <StartupType>0</StartupType>
    <UpdateURL>http://cubicreality.pp.fi/ce/updates/updates.xml</UpdateURL>
    <UseProxy>False</UseProxy>
    <UseSystemProxy>True</UseSystemProxy>
  </MainForm>
  <Hotkeys/>
  <GlobalHotkeys/>
  <Tabs>
    <AllowDropToTab>True</AllowDropToTab>
    <NewTabPath>PIDL:FgAAABQAH1DgT9Ag6jppEKLYCAArMDCdAAA=</NewTabPath>
    <NewTabSelect>True</NewTabSelect>
    <NewTabType>2</NewTabType>
    <OpenTabSelect>True</OpenTabSelect>
    <ReuseTabs>False</ReuseTabs>
    <AutoFit>True</AutoFit>
    <AutoFitMaxSize>200</AutoFitMaxSize>
    <CloseButton>2</CloseButton>
    <DblClickCloseTab>True</DblClickCloseTab>
    <MaxTabSize>-1</MaxTabSize>
    <OpenNextToCurrent>False</OpenNextToCurrent>
    <SwitchTabOnDragHover>True</SwitchTabOnDragHover>
    <UndoCount>15</UndoCount>
  </Tabs>
  <AddressBar>
    <Breadcrumb>False</Breadcrumb>
  </AddressBar>
  <DriveBar>
    <OpenInNewTab>False</OpenInNewTab>
  </DriveBar>
  <FolderPanel>
    <AutoCollapse>True</AutoCollapse>
    <AutoExpand>True</AutoExpand>
    <BrowseZipFolders>False</BrowseZipFolders>
    <CenterOnBrowse>True</CenterOnBrowse>
    <CenterOnExpand>True</CenterOnExpand>
    <FontSize>-1</FontSize>
    <LineHeight>-1</LineHeight>
    <OpenInNewTab>False</OpenInNewTab>
  </FolderPanel>
  <BookmarksPanel>
    <AutoCollapse>False</AutoCollapse>
    <AutoExpand>False</AutoExpand>
    <FontSize>-1</FontSize>
    <LineHeight>-1</LineHeight>
    <OpenInNewTab>False</OpenInNewTab>
    <ShowOpenAllAtTop>True</ShowOpenAllAtTop>
    <ShowOpenAllItem>True</ShowOpenAllItem>
    <SingleClickMode>True</SingleClickMode>
    <UseSystemPopupMenu>False</UseSystemPopupMenu>
  </BookmarksPanel>
  <FilterPanel>
    <AutoResetFilters>True</AutoResetFilters>
    <FilterHistory/>
    <FontSize>-1</FontSize>
    <LineHeight>-1</LineHeight>
    <SaveFilterHistory>True</SaveFilterHistory>
    <ShowBkgrd>True</ShowBkgrd>
    <StrictFilter>False</StrictFilter>
  </FilterPanel>
  <StackPanel>
    <AutoCollapse>True</AutoCollapse>
    <AutoExpand>True</AutoExpand>
    <LoadOnStartup/>
    <AutoSaveStack>False</AutoSaveStack>
    <FontSize>-1</FontSize>
    <FullExpandOnLoad>False</FullExpandOnLoad>
    <LineHeight>-1</LineHeight>
    <StartupType>0</StartupType>
    <MaxHintItemCount>20</MaxHintItemCount>
    <SafeOperationsOnly>True</SafeOperationsOnly>
    <ShowWarnings>True</ShowWarnings>
  </StackPanel>
</CubicExplorer>
